{% extends "base.html" %}

{% block content %}
<h1>Register to Make a blog</h1>
<form action="/register" method="post">
	{% if duplicate_error %}
	<p class="error">{{duplicate_error}}</p>
	{% endif %}
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
	{% if len_error %}
	<p class="error">{{len_error}}</p>
	{% endif %}
	{% if blank_error %}
	<p class="error">{{blank_error}}</p>
	{% endif %}
	{% if password_v_error %}
	<p class="error">{{password_v_error}}</p>
	{% endif %}
    <input type="submit" value="Register">
</form>
{% endblock %}